body {
	padding: 0;
	margin: 20px;
	height: 100vh;
	width: 100vw;
}



div.wrapper {
	
	grid-template-areas:
	"sidebar"
	"content"
	"footer";
	grid-gap: 1em;
	
}

img.logo {
		height: 100px;
		-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

	}


@media only screen and (min-width: 500px)  {
	div.wrapper {
		width: calc(100vw - 40px);
		height: calc(100vh - 40px);
		display: grid;
		grid-template-areas:
		"sidebar content content"
		"sidebar footer footer";
		grid-template-columns: 200px 1fr;
		grid-template-rows: 1fr 50px;
		grid-gap: 10px;
		
	}

	img.logo {
		-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		height: 200px;
	}
}

div.side-text {
	grid-area: sidetext;
}

div.sidebar {
	grid-area: sidebar;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	div.logo-div {
		flex: 1;
	}

	div.about-div {
		flex: 2;
	}
}

div.sidebar:nth-child(1) {
	flex: 1;
}

div.sidebar:nth-child(2) {
	flex: 3;
}

div.content {
	grid-area: content;
	height: 100%;
	border: 1px solid black;

}

div.footer {
	grid-area: footer;
	text-align: center;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}

div.side-text span {
  position: fixed;
  top: 205px;
  left: -50px;
  transform: rotate(-90deg);
}



.box {
	border-radius: 10px;
	background-color: #F7F7F7;
}
