// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.new-post-form {
	text-align: center;	
}

span.post-date {
	font-style: italic;
	font-size: .75em;
}